// Modules

@use 'vars'

/* BASE STYLES

*,
*:after
*:before
  box-sizing: border-box
  padding: 0
  margin: 0

body
  margin: 0
  font-family: vars.$body-font

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
